---
title: notes project's pages
layout: default
---

<h2>{{ page.title }}</h2>

<h3>Here is my notes project's pages.</h3>
<!--
My friend, Hugh, has always been fat, but things got so bad recently that he decided to go on a diet. He began his diet a week ago. First of all, he wrote out a long list of all the foods which were forbidden. The list included most of the things Hugh loves: butter, potatoes, rice, beer, milk, chocolate; and sweets. Yesterday I paid him a visit. I rang the bell and was not surprised to see that Hugh was still as fat as ever. He led me into his room and hurriedly hid a large parcel under his desk. It was obvious that he was very embarressed. When I asked him what he was doing, he smiled guiltily and then put the parcel on the desk. He explained that his diet was so strict that he had to reward himself occasionally. Then he showed me the contents of the parcel. It contained five large bars of chocolate and three bags of sweets!
-->
We have just moved into a new house and I have been working hard all morning. I have been trying to get my new room in order. This has not been easy because I own a thousand books. To make matters worse, the room is rather small, so I have temporarilly put my books on the floor. At the moment, they cover every inch of floor space and I actually have to walk on them to get in or out of the room. A short while ago, my sister helped me to carry one of my old bookcases up the stairs. She went into my room and got a big surprise when she saw all those books on the floor, 'You don't need bookcases at all. You can sit here in your spare time and read the carpet!'

<hr>
<!--
<h3>Tags</h3>

{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
  <h4 id="{{ tag }}">{{ tag }} ({{ site.tags[tag].size }})</h4>
  <ul>
  {% for post in site.tags[tag] %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

<h3>Categories</h3>
{% capture tags %}
  {% for tag in site.categories %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
  <h4 id="{{ tag }}">{{ tag }} {{ tag }}({{ site.categories[tag].size }})</h4>
  <ul>
  {% for post in site.categories[tag] %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

<hr>
-->
<h3>Pages</h3>
<ul>
    {% for p in site.pages %}
    {% if p.url != page.url %}
    <li>
    <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3>Posts</h3>
<ul>
{% for p in site.posts %}
<li>
    <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
</li>
{% endfor %}
</ul>
