---
title: notes project's pages
layout: default
---

<h2>{{ page.title }}</h2>

Here is my notes project's pages.


2.51 Reward for virtue

My friend, Hugh, has always been fat, but things got so bad recently that he decided to go on a diet. He began his diet a week ago. First of all, he wrote out a long list of all the foods which were forbidden. The list included most of the things Hugh loves: butter, potatoes, rice, beer, milk, chocolate; and sweets. Yesterday I paid him a visit. I rang the bell and was not surprised to see that Hugh was still as fat as ever. He led me into his room and hurriedly hid a large parcel under his desk. It was obvious that he was very embarressed. When I asked him what he was doing, he smiled guiltily and then put the parcel on the desk. He explained that his diet was so strict that he had to reward himself occasionally. Then he showed me the contents of the parcel. It contained five large bars of chocolate and three bags of sweets!


2.52 A pretty carpet

We have just moved into a new house and I have been working hard all morning. I have been trying to get my new room in order. This has not been easy because I own a thousand books. To make matters worse, the room is rather small, so I have temporarilly put my books on the floor. At the moment, they cover every inch of floor space and I actually have to walk on them to get in or out of the room. A short while ago, my sister helped me to carry one of my old bookcases up the stairs. She went into my room and got a big surprise when she saw all those books on the floor, 'You don't need bookcases at all. You can sit here in your spare time and read the carpet!'


2.53 Hot snake

At last fireman have put off a big fire in California. Since then, they have been trying to find out how the fire began. Forest fires are often caused by broken glass or by cigatette ends which people carelessly throw away. Yesterday the fireman examined the ground carefully, but were not able to find any broken glass. They were also quite sure that a cigarette end did not start the fire. This morning, however, a fireman accidentally discovered the cause. He noticed the remains of a snake which was wound round the electri wires of a 16,000-volt power line. In this way, he was able to solve the mystery. The explanation was simple but very unusual. A bird had snatched up the snake from the ground and then dropped it on to the wires. The snake then wound itself round the wires. When it did so, it sent sparks down to the ground and these immdiately started a fire.


2.54 Sticky fingers

After breakfast, I sent the children to school and then I went to the shops. It was still early when I returned home. The children were at school, my husband was at work and the house was quiet. So I decided to make some meat pies. In a short time, I was busy mixing butter and flour and my hands were soon covered with sticky pastry. At exactly that moment, the telephone rang. Nothing could have been more annoying. I picked up the receiver between two sticky fingers and was dismayed when I recognized the voice of Helen Bates. It took me ten minutes to oersuade her to ring back later. At last I hung up the receiver. What a mess! There was pastry on my fingers, on the telephone, and one the doorknobs. I had no sooner go back to the kitchen then the doorbell rang loud enough to wake the dead. This time it was the postman and he wanted me to sign for a registered letter!


2.55 Not a gold mine

Dreams of finding lost trasure almost came true recently. A new machine called 'The Revealer' has been invented and it has been used to detect gold which has been buried in the ground. The machine was used in a cave near rhe seashore where – it is said – pirates used to hide gold. The pirates would often bury gold in the cave and then fail to collect it. Armed with the new machine, a search party went into the cave hoping to find buried treasure. The leader of the party was examining the soil near the entrance to the cave when the machine showed that there was gold under the ground. Very excited, the party dug a hole two feet deep. They finally found a small gold coin which was almost worthless. The party then searched the whole cave thoroughly but did not find anything except an empty tin trunk. In spite of this, many people are confident that 'The Revealer' may reveal something of value fairly soon.
2.56 Fast then a sound

Once a year, a race is held for old cars. A lot of cars entered for this race last year abd there was a great deal of excitement just before it began. One of the most handsome cars was a Roll-Royce Silver Ghost. The most unusual car was a Benz which had only three wheels. Built in 1885, it was the oldest car taking part. After a great many loud explosions, the race began. Many of the cars broke down on the course and some drivers spent more time under their cars then in them! A few cars, however, completed the race. The winning car reached a speed of forty miles an hour – much faster than any of its rivals. It sped downhill at the end of the race and its driver had a lot of trouble trying to stop it. The race gave everyone a great deal of pleasure. It was vert different from modern car races but no less exciting.
2.57 Can I help you, madam?

A woman in jeans stood at the window of an expensive shop. Though she hesitated for a moment, she finally went in and asked to see a dress that was in the window. The assistant who served her did not like the way she was dressed. Glancing at her scornfully, he told her that the dress was sold. The woman walked out of the shop angrily and decided to punish the assistant next day. She returned to the shop the following morning dressed in a fur coat, with a handbag in one hand and a long umbrella in the other. After seeking out the rude assistant, she asked for the same dress. Not realizing who she was, the assistant was eager to serve her this time. With great difficulty, he climed into the shop window to get the dress. As soon as she saw it, the woman said she did not like it. She enjoyed herself making the assistant bring almost everything in the window before finally buying the dress she had first asked for.
2.58 A blessing in disguise?

The tiny village of Frinley is said to posssess a 'cursed tree'. Because the tree was mentioned in a newspaper, the number of visitors to Frinley has now increased. The tree was planted near the church fifty years ago, but it is only in recent yeats that is has gained an evil reputation. It is said that if anyone touches the tree, he will have bad luck; if he picks a leaf, he will die. Many villagers believe that the tree has already claimed a number of victims. The vicar has been asked to have the tree cut down, but so far he has refused. He has pointed put that the tree is a useful source of income, as tourists have been picking leaves and cutting their names on the tree-trunk. So far, not one of them has been struck down by sudden death!
2.59 In or out?

Our dog, Rex, used to sit outside our front gate and bark. Every time he wanted to come into the garden he would bark until someone opened the gate. As the neighbours complained of the noise, my husband spent weeks training him to press his paw on the latch to let himself in. Rex soon became an expert at opening the gate. However, when I was going out shopping last week, I noticed him in the garden near the gate. This time he was barking so that someone would let him out! Since then, he has developed another bad habit. As soon as he opens the gate from the outside, he comes into the garden and waits until the gate shuts. Then he sits and barks until someone lets him out. After this he immdiately lets himself in and begins barking again. Yesterday my husband removed the gate and Rex got so annoyed we have not seen him since.
2.60 The future

At a village fair, I decided to visit a forture-teller called Madam Belinsky. I went into her tent and she told me to sit down. After I had given her some money, she looked into a crystal ball and said: 'A relation of yours is coming to see you. She will be arriving this evening and intends to stay for a few days. The moment you leave this tent, you will get a big surprise. A woman you know well will rush towards you. She will speak to you and then she will lead you away from this place. That is all.'

As soon as I went outside, I fogot all about Madam Belinsky because my wife hurried towards me. 'Where have you been hiding?' she asked impatiently. 'Your sister will be here in less than an hour and we must be at the station to meet her. We are late already.' As she walked away, I followed her out of the fair.
2.61 Trouble with the Hubble

The Hubble telescope was launched into space by NASA on april 20, 1990 at a cost of over a billion dollars. Right from the start there was trouble with the Hubble. The pictures it sent us were very disappointing because its main mirror was faulty! NASA is now going to put the telescope right, so it will soon be sending up four astronauts to repair it. The shuttle Endeavour will be taking the astronauts to the Hubble. A robot-arm from the Endeavour will grab the telescope and hold it while the astronauts make the necessary repairs. Of course, the Hubble is above the earth's atmosphere, so it will soon be sending us the clearest pictures of the stars and distant galaxies that we have ever seen. The Hubble will tell us a great deal about the age and size of the universe. By the time you read this, the Hubble's eagle eye will have sent us thousands and thousands of wonderful pictures.
2.62 After the fire

Firemen had been fighting the forest for nearly three weeks before they could get it under control. A short time before, great trees had covered the countryside for miles around. Now, smoke still rose up from the warm ground over the desolate hills. Winter was coming on and the hills threatened the surrounding villages with destruction, for heavy rain would not only wash away the soil but would cause serious floods as well. When the fire had at last been put out, the forest authorities ordered several tons of a special type of the grass-seed which would grow quickly. The seed was sprayed over the ground in huge quantities by aeroplanes. The planes had been planting seed for nearly a month when it began to rain. By then, however, in many places the grass had already taken root. In place of the great trees which had been growing there for centuries patches of green had begun to appear in the blackened soil.
2.63 She was not amused

Jeremy Hampden has a large circle of friends and is very popular at parties. Everybody admires him for his great sense of humor – everybody, that is, except his six-year-old daughter, Jenny. Recently, one of Jeremy's closest friends asked him to make a speech at a wedding reception. This is the sort of thing that Jeremy loves. He prepared the speech carefully and wen to the wedding with Jenny. He had lauched a large number of funny stories in the speech and, of course, it was a great sucess. As soon as he had finished, Jenny told him she wanted to go home. Jeremy was a little disappointed by this but he did as his daughter asked. On the way home, he asked Jenny if she had enjoyed the speech. To his surprise, she said she hadn't. Jeremy asked her why this was so and she told him that she did not like to see so many people laughing at him!
2.64 The Channel Tunnel

In 1858, a French engineer, Aime Thome de Gamond, arrived in England with a plan for a twenty-one-mile tunnel under the England Channel. He said that it would be possible to build a platform in the center of the Channel. This platform would serve as a port and a railway station. The tunnel would be well-ventilated if tall chimneys were built above the sea level. In 1860, a better plan was put forward by an Englishman, William Low. He suggested that a double railway-tunnel should be built. This would solve the problem of ventilation, for if a train entered this tunnel, it would draw in fresh air behind it. Forty-two years later a tunnel was actually begun. If, at the time, the British had not feared invasion, it would have been completed. The world had to wait almost another 100 years for the Channel Tunnel. It was officially opened on March 7, 1994, finally connecting British to the European continent.
2.65 Jumbo versus the police

Last Christmas, the circus owner, Jimmy Gates, decided to take some presents to a children's hospital. Dressed up as Father Christmas and accompanied by a 'guard of honour' of six pretty girls, he set off down the main street of the city riding a baby elephant called Jumbo. He should have known that the police would never allow this sort of thing. A policeman approached Jimmy and told him he ought to have gone along a side street as Jumbo was holding up the traffic. Though Jimmy agreed to go at once, Jumbo refused to move. Fifteen policemen had to push very hard to get him off the main street. The police had a difficult time, but they were most amused. 'Jumbo must weigh a few tons,' said a policeman afterwards, 'so it was fortunate that we didn't have to carry him. Of course, we should arrest him, but as he has a good record, we shall let him off this time.'
2.66 Sweet as honey!

In 1963 a Lancaster bomber crashed on Wallis Island, a remote place in the South Pacific, a long way west of Samoa. The plane wasn't too badly damaged, but over the years, the crash was forgotten and the wreck remained undisturbed. Then in 1989, twenty-six years after the crash, the plane was accidently rediscovered in an aerial survey of the island. By this time, a Lancaster bomber in reasonable condition was rare and worth rescuing. The French authorities had the plane packaged and moved in parts back to France. Now a group of enthusiasts are going to have the plane restored. It has four Rolls-Royce Merlin engines, but the group will need to have only three of them rebuilt. Imaging their surprise and delight when they broke open the packing cases and found that the fourth engine was sweet as honey – still in perfect condition. A colony of bees had turned the engine into a hive and it was totally preserved in beeswax! 

<hr>

<h3>Tags</h3>
<!--
{% for tag in site.tags %}
<a href="#{{ tag[0] }}">{{ tag[0] }}</a>
{% endfor %}
-->
{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
  <h4 id="{{ tag }}">{{ tag }} ({{ site.tags[tag].size }})</h4>
  <ul>
  {% for post in site.tags[tag] %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

<h3>Categories</h3>
<!--
{% for cate in site.categories %}
<a href="#{{ cate[0] }}">{{ cate[0] }}</a>
{% endfor %}
-->
{% capture tags %}
  {% for tag in site.categories %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
  <h4 id="{{ tag }}">{{ tag }} {{ tag }}({{ site.categories[tag].size }})</h4>
  <ul>
  {% for post in site.categories[tag] %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}

<hr>

<h3>Pages</h3>
<ul>
    {% for p in site.pages %}
    {% if p.url != page.url %}
    <li>
    <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3>Posts</h3>
<ul>
{% for p in site.posts %}
<li>
    <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
</li>
{% endfor %}
</ul>
